.country-field {
  border: 0;
  padding: 0;

  .country-input {
    height: $input-height;

    .dial-code {
      display: none;
    }

    input.form-control {
      display: none;
    }
  }

  .country-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 19px;
    left: 64px;
    z-index: 1;
    width: calc(100% - 72px);
    height: 0;
  }

  .country-flag-display.react-tel-input {
    width: auto;
  }
}
