ROOT_URL=http://localhost:3000
FRONT_END_URL=http://localhost:3001

DB_NAME=rhino
DB_USERNAME=
DB_PASSWORD=

# Production only:
SENDGRID_API_KEY=<api-key>

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
AWS_REGION=

AZURE_STORAGE_KEY=AAAAAAAAAAAAAA
AZURE_ACCOUNT_NAME="azure_acc_name"
AZURE_CONTAINER="container-test"

STRIPE_PUBLISHABLE_KEY=pk_...
STRIPE_SECRET_KEY=sk_...

AUTH_GOOGLE_OAUTH2_CLIENT_ID=
AUTH_GOOGLE_OAUTH2_SECRET_KEY=

ROLLBAR_ACCESS_TOKEN=

# EMAIL CONFIGURATION
DEFAULT_EMAIL_SENDER=
