// Auth Page
.auth-logo {
  img {
    height: 100%;
    width: 125px;
  }
}

@media only screen and (min-width: 1200px) {
  .auth-logo {
    img {
      height: 100%;
      width: 250px;
    }
  }
}

.omni-icon-btn {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    margin: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
  }
}

.password-eye-toggle {
  border-color: $input-border-color !important;

  &:hover {
    background-color: transparent !important;
    color: $input-color !important;
  }
}
