.model-table,
.model-index-table {
  // Horizontal scrolling
  overflow-x: auto;

  .model-table-row-clickable {
    cursor: pointer;
  }
}

.model-card {
  cursor: pointer;
}

// Mark required fields with a red star
label.required:after {
  content: ' *';
  color: red;
}
