import { ModelEditPage } from '@rhino-project/ui-heroui';
import { createFileRoute } from '@tanstack/react-router';

export const Route = createFileRoute('<%= route_path %>$id/edit')({
  component: RouteComponent
});

function RouteComponent() {
  const { id: modelId } = Route.useParams();

  return <ModelEditPage model="<%= singular_table_name %>" modelId={modelId} />;
}
