# frozen_string_literal: true

require "rhino/engine"

module <%= module_name.camelize %>
  class Engine < ::Rails::Engine
    config.autoload_paths << File.expand_path("../../lib", __dir__)

    initializer "<%= module_name %>.register_module" do
      config.after_initialize do
        if true
          Rhino.registered_modules[:<%= module_name %>] = {
            version: <%= module_name.camelize %>::VERSION
          }
        end
      end
    end
  end
end
