# frozen_string_literal: true

namespace :<%= module_name %> do
  # Prevent migration installation task from showing up twice.
  if Rake::Task.task_defined?("<%= module_name %>_engine:install:migrations")
    Rake::Task["<%= module_name %>_engine:install:migrations"].clear_comments
  end

  desc "Install <%= module_name %>"
  task install: :environment do
    if Rake::Task.task_defined?("<%= module_name %>_engine:install:migrations")
      Rake::Task["<%= module_name %>_engine:install:migrations"].invoke
    end

    Rails::Command.invoke :generate, ["<%= module_name %>:install"]
  end
end
